.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
  }
  
body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-color: rgb(26 26 26);
}

.el-menu--horizontal>.el-menu-item.is-active {
    border-bottom: 0px solid #409eff;
    color: #7749da !important;
}

.el-menu--horizontal>.el-menu-item:not(.is-disabled):focus, .el-menu--horizontal>.el-menu-item:not(.is-disabled):hover, .el-menu--horizontal>.el-submenu .el-submenu__title:hover {
    background-color: #fff0;
}

.el-menu.el-menu--horizontal {
    border-bottom: solid 0px #e6e6e6;
}

.el-menu--horizontal>.el-submenu.is-active .el-submenu__title {
    font-size: 14px !important;
    border-bottom: 0px solid #409eff;
    color: #7749da;
}

.el-submenu__title:focus, .el-submenu__title:hover {
    outline: 0;
    background-color: #ecf5ff00;
    font-size: 14px !important;
}

.menu-1{
    font-size: 14px !important;
}

.el-submenu__title {
    font-size: 14px !important;
}

.el-menu--horizontal .el-menu .el-menu-item, .el-menu--horizontal .el-menu .el-submenu__title {
    
    background-color: #1a1a1a;
    float: none;
    height: 36px;
    line-height: 36px;
    padding: 0 10px;
    color: #909399;
}

.el-menu {
    background-color: #7749da;
    border-radius: 4px !important;
}

.el-menu--popup{
    box-shadow: rgba(0, 0, 0, 0.419) 0px 5px 15px;
    height: 110px;
}

.huge-font{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

.huge-font-1{
  background-image: linear-gradient(to right, #d16ba5, #c777b9, #ba83ca, #aa8fd8, #9a9ae1, #919ce5, #869ee9, #7aa0ed, #729af1, #6a93f5, #5274cf, #5f85fb);
  -webkit-background-clip: text; /* For Safari */
  color: transparent;
  font-size: 70px;
  margin: 1px;
}

.el-divider--vertical {
  width: 1px;
  height: 40px;
  margin: 8px;
  border-left: 1px #1a1a1a var(--el-border-style);
}

.el-divider {
  background-color: #4d4d4d;
}

button {
  position: relative;
  margin: 0;
  padding: 0.8em 1em;
  outline: none;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  text-transform: uppercase;
  background-color: #333;
  border-radius: 10px;
  color: #fff;
  font-weight: 300;
  font-size: 18px;
  font-family: inherit;
  z-index: 0;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover {
  animation: sh0 0.5s ease-in-out both;
}

@keyframes sh0 {
  0% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }

  25% {
    transform: rotate(7deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(-7deg) translate3d(0, 0, 0);
  }

  75% {
    transform: rotate(1deg) translate3d(0, 0, 0);
  }

  100% {
    transform: rotate(0deg) translate3d(0, 0, 0);
  }
}

button:hover span {
  animation: storm 0.7s ease-in-out both;
  animation-delay: 0.06s;
}

button::before,
button::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  opacity: 0;
  transition: transform 0.15s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.15s cubic-bezier(0.02, 0.01, 0.47, 1);
  z-index: -1;
  transform: translate(100%, -25%) translate3d(0, 0, 0);
}

button:hover::before,
button:hover::after {
  opacity: 0.15;
  transition: transform 0.2s cubic-bezier(0.02, 0.01, 0.47, 1), opacity 0.2s cubic-bezier(0.02, 0.01, 0.47, 1);
}

button:hover::before {
  transform: translate3d(50%, 0, 0) scale(0.9);
}

button:hover::after {
  transform: translate(50%, 0) scale(1.1);
}

.description{
  padding-bottom: 60px;
  border-bottom: 1px solid #323030;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cdn {
  margin-top: 10px;
  padding: 20px;
  width: 280px;
  border-radius: 5px;
  border: 2px solid gray;
  transition: border-color 0.3s, color 0.3s;
}

.cdn:hover {
  border-color: rgb(96 72 176);
}

.cdn:hover .cdn-tittle {
  transition: color 0.3s;
  color: rgb(96 72 176) !important;
}

.el-collapse {
  border-top: 1px solid #ebeef500;
  border-bottom: 1px solid #ebeef500;
}

.el-collapse-item__header {
  border-bottom: 1px solid #ebeef500;
  background-color: #1a1a1a;
  color: #7b7b7b;
  font-size: 16px;
}

.el-collapse-item__wrap {
  background-color: #1a1a1a;
  color: #7b7b7b;
  border-bottom: 1px solid #ebeef500;
}

.el-collapse-item__content {
  color: #b6b4bb !important;
  padding: 0px 12px 0px 12px;
  font-size: 14px !important;
}

.introduction{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 60px;
  border-bottom: 1px solid #323030;
}

.description-1{
  color: #7b7b7b;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid gray;
}

.special-world{
  font-size: 12px;
  margin: 0px 3px 0px 3px;
  background-color: #333;
  color: #d0cfcf;
  padding: 4px;
  border-radius: 4px;
}

.black-list{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.black-list-1{
  color: #7b7b7b;
  padding: 20px;
  border-radius: 5px;
  border: 2px solid gray;
  width: 100%;
}

.el-table td.el-table__cell, .el-table th.el-table__cell.is-leaf {
  border-bottom: 1px solid #474747;
}

.el-table--enable-row-hover .el-table__body tr:hover>td.el-table__cell {
  color: #797bc1;
  background-color: #3a3a3a;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background-color: #1a1a1a;
}

.el-table {
  background-color: #1a1a1a;
}

.end{
  left: 0px;
  right: 0px;
  padding: 30px;
  background-color: #4d4d4d;
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.end-link{
  border-left: 2px solid #ababab;
  padding-left: 10px;
  margin-left: 5px;
  color: #ababab;
  margin-top: 8px;
  font-size: 14px;
}

.end-link a {
  text-decoration: none;
  color: #ababab;
}
.end-tittle{
  display: flex;
  align-items: center;
  color: #ababab;
  font-size: 18px;
}

.footer{
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}