<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MA Mirror();</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <script src="//fnj.1l1.icu/unpkg/vue@2/dist/vue.js"></script>
    <script src="//fnj.1l1.icu/unpkg/element-ui@2.15.14/lib/index.js"></script>
    <link rel="stylesheet" href="//fnj.1l1.icu/unpkg/element-plus/dist/index.css" />
    <link rel="stylesheet" href="//fnj.1l1.icu/unpkg/element-ui@2.15.14/lib/theme-chalk/index.css" />
    <script src="//fnj.1l1.icu/unpkg/boxicons@2.1.4/dist/boxicons.js"></script>
    <link href='//fnj.1l1.icu/unpkg/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div id="menu" style="display: flex; justify-content: space-between; align-items: center;padding: 0px 20px 0px 20px;border-bottom: 1px solid #323030;">
        <div style="display: flex;align-items: center;">
            <img src="https://element.eleme.cn/favicon.ico" style="margin-right: 15px;" alt="MA Mirror" height="30px" width="30px">
            <p class="poppins-semibold" style="font-size: 15px;color: #ffffff;">MA Mirror</p>
        </div>
        
        <el-menu :default-active="activeIndex" class="el-menu-demo" mode="horizontal" @select="handleSelect" style="background-color: rgb(26 26 26)">
            <el-menu-item index="1" class="menu-1">首页</el-menu-item>
            <el-submenu index="2">
                <template slot="title">使用</template>
                <el-menu-item index="2-1" class="menu-2">CDN 站镜像</el-menu-item>
                <el-menu-item index="2-2" class="menu-2">GitHub 文件下载</el-menu-item>
                <el-menu-item index="2-3" class="menu-2">Github API 加速</el-menu-item>
            </el-submenu>
            <el-menu-item index="3" class="menu-1">统计</el-menu-item>
            <el-menu-item index="4" class="menu-1">服务器状态</el-menu-item>
            <el-menu-item index="5" class="menu-1">赞助</el-menu-item>
            <el-divider direction="vertical"></el-divider>
            <el-menu-item index="6" class="menu-1"><a href="https://github.com/k43Lab" target="_blank" ><i class='bx bxl-github'style="font-size: 26px;"></i></a></el-menu-item>
        </el-menu>
    </div>
    
    <!--大字体-->
    <div style="justify-content: center;display: flex;border-bottom: 1px solid #323030;padding: 100px;background-image: url(/background.png);">
    <div class="huge-font">
        <div>
            <p class="huge-font-1 poppins-black-italic">MA Mirror;()</p>
        </div>
        <div>
            <p class="huge-font-1 poppins-black-italic">新兴的前端镜像站</p>
        </div>
        <div>
            <p class="huge-font-1 poppins-black-italic">稳定的Github加速服务</p>
        </div>
        <div style="padding-top:50px;display: flex;">
            <button style="width: 200px;margin-right: 20px;">
                <span>Let's Start</span>
            </button>
            <button style="width: 200px;">
                <span>Know More</span>
            </button>
        </div>
    </div>
    </div>

    <!--简介-->
    <div class="description" >
        <div style="width: 800px;">
            <div style="color: white;font-size: 25px;"><i class='bx bx-server'></i> Service | 服务</div>
            <div style="display: flex;justify-content: space-between;margin-top: 10px;">
            <div class="cdn">
                <div class="cdn-tittle" style="color: white;font-size: 18px;">FAST NYA JUST | CDN 站镜像</div>
                <div id="description-1">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="简介" name="1" style="font-size: 16px;">
                        <div>目前我们提供 https://unpkg.com/，https://cdn.jsdelivr.net/，https://cdnjs.cloudflare.com/ 的镜像，缓存时效12小时。</div>
                      </el-collapse-item>
                    </el-collapse>
                    <el-collapse v-model="activeNames" @change="handleChange">
                        <el-collapse-item title="开源项目发布" name="2" style="font-size: 16px;">
                          <div>FNJ（Fast Nya Just）已经在Github开源，您可以浏览<el-tooltip class="item" effect="dark" content="Github: Fast Nya Just - CDN站镜像" placement="top"><div>https://github.com/k43Lab/FNJ。</div></el-tooltip></div>
                        </el-collapse-item>
                    </el-collapse>
                </div>
            </div>
            <div class="cdn">
                <div class="cdn-tittle" style="color: white;font-size: 18px;">Github 加速</div>
                <div id="description-2">
                    <el-collapse v-model="activeNames" @change="handleChange">
                      <el-collapse-item title="简介" name="1" style="font-size: 16px;">
                        <div>我们可以提供文件以及API的加速。</div>
                      </el-collapse-item>
                    </el-collapse>
                </div>
            </div>
            </div>
            </div>
        </div>
    </div>

    <!--介绍-->
    <div class="introduction" id="word-1">
        <div style="width: 800px;">
            <div style="color: white;font-size: 25px;"><i class='bx bx-edit-alt'></i> Introduction | 介绍</div>
            <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                <div class="description-1" style="margin-top: 10px;line-height: 1.9">
                    <div class="introduction-tittle" style="color: white;font-size: 18px;">| MA Mirror 是什么？</div>
                    &nbsp;&nbsp;&nbsp;&nbsp;MA Mirror&nbsp;是由&nbsp;<el-tooltip class="item" effect="dark" content="k43Lab, an organization created by Muska_Ami (夏沫花火zzz🌙), is designed to facilitate communication about technologies." placement="top-start"><span style="color: rgb(96 72 176);">k43Lab</span></el-tooltip>&nbsp;团队推出的新服务。在日常的项目开发，开发者们会使用到某些前端的静态资源，<span class="special-world">UNPKG</span> <span class="special-world">jsDelivr</span>这些是十分常见也是用到最多的。但由于这类资源都在国外，国内访问效果很差。那么，本项目横空出世，有效的帮助开发者们提供一个简单即用的<span style="color: rgb(96 72 176);">公益CDN</span>。
                    <div class="introduction-tittle" style="padding-top: 5px;border-top: 1px solid #474747;margin-top: 20px;color: white;font-size: 18px;">| 有什么限制吗？</div>
                    &nbsp;&nbsp;&nbsp;&nbsp;毋庸置疑的，我们<span style="color: rgb(96 72 176);">坚决反对</span>滥用加速服务。例如：加速自己的图床仓库，私人字体文件，私人大文件，视频等。我们会<span style="color: rgb(96 72 176);">严格审查</span>，并及时封禁。
                </div>
            </div>
            </div>
        </div>
    </div>

    <!--黑名单-->
    <div class="black-list" id="">
        <div style="width: 800px;">
            <div style="color: white;font-size: 25px;"><i class='bx bx-edit-alt'></i> Black List | 黑名单</div>
            <div style="display: flex;justify-content: space-between;margin-top: 10px;">
                <div class="black-list-1" style="margin-top: 10px;line-height: 1.9">
                    <div id="black-list">
                        <template>
                          <el-table
                            :data="tableData"
                            :header-cell-style="{
                                background: '#fafafa', color: '#333', fontWeight: '600', fontSize: '14px', }"
                            height="250"
                            border
                            style="width: 100%"> 
                            <el-table-column
                              prop="date"
                              label="日期"
                              width="180">
                            </el-table-column>
                            <el-table-column
                              prop="name"
                              label="姓名"
                              width="180">
                            </el-table-column>
                            <el-table-column
                              prop="address"
                              label="地址">
                            </el-table-column>
                          </el-table>
                        </template>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>

      <script>
        var Main = {
            data() {
            return {
                activeIndex: '1',
                activeIndex2: '1'
            };
            },
            methods: {
            handleSelect(key, keyPath) {
                console.log(key, keyPath);
            }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#menu')
      </script>

      <script>
        new Vue().$mount('#line')
      </script>
      
      <script>
        var Main = {
            data() {
            return {
                activeNames: ['1']
            };
            },
            methods: {
            handleChange(val) {
                console.log(val);
            }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#description-1')
      </script>

        <script>
            var Main = {
                data() {
                return {
                    activeNames: ['1']
                };
                },
                methods: {
                handleChange(val) {
                    console.log(val);
                }
                }
            }
            var Ctor = Vue.extend(Main)
            new Ctor().$mount('#description-2')
        </script>

      <script>
        new Vue().$mount('#word-1')
      </script>

      <script>
        var Main = {
            data() {
            return {
                tableData: [{
                date: 'XX',
                name: 'XXX',
                address: 'XXXX'
                }, {
                date: '2016-05-02',
                name: 'XXX',
                address: 'XXXX'
                }, {
                date: '2016-05-04',
                name: 'XXX',
                address: 'XXXX'
                }, {
                date: '2016-05-01',
                name: 'XXX',
                address: 'XXXX'
                }, {
                date: '2016-05-08',
                name: 'XXX',
                address: 'XXXX'
                }, {
                date: '2016-05-06',
                name: 'XXX',
                address: 'XXXX'
                }, {
                date: '2016-05-07',
                name: 'XXX',
                address: 'XXXX'
                }]
            }
            }
        }
        var Ctor = Vue.extend(Main)
        new Ctor().$mount('#black-list')
      </script>
</body>
</html>